{
	"ntp":
	{
		"enabled": false,
		"synctime": "03:00"
	},
	"connections": 
	[
		{
			"host": "127.0.0.1",
			"port": 27016,
			"relay": true,
			"ssl": false,
			"cert": "",
			"pk": "",
			"auth": false,
			"auth_key": ""
		}
	],
	"serial": {
		"autodiscover": true
	},
	"logging": {
		"type": "debug",
		"output": "stream"
	}
}
